# Ignore everything
*
# ...even if they are in subdirectories
!*/


# But not these files/directories...
!.gitignore
!.xinitrc
!.Xresources
!.bashrc
!.vimrc
!.vim
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vim/*/*/*/*/*
!.vim/*/*/*/*/*/*
!.gitconfig
!.dir_colors
!.fonts
!.config
!.colors
!.colors/*
!.colors/*/*
!.colors/*/*
