# Ignore everything
*
.vim/.netrwhist

# ...even if they are in subdirectories
!*/


# But not these files/directories...
!.gitignore
!dotbot
!install.conf.yaml
!install
!.xinitrc
!.Xresources
!.bashrc
!.vimrc
!.vim
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vim/*/*/*/*/*
!.vim/*/*/*/*/*/*
!.gitconfig
!.dir_colors
!.fonts
!.irssi
!.config
!.colors
!.colors/*
!.colors/*/*
!.colors/*/*
