[submodule "/home/mike/dotfiles/.vim/bundle/nerd_tree.git"]
	path = /home/mike/dotfiles/.vim/bundle/nerd_tree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/easymotion.git"]
	path = .vim/bundle/easymotion.git
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/powerline.git"]
	path = .vim/bundle/powerline.git
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdtree.git"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdtree.git.git"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree.git"]
	path = .vim/bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
